# 依赖目录
node_modules
.npm
npm-debug.log*

# Next.js构建输出
.next
out

# 开发工具和IDE配置
.git
.gitignore
.vscode
.idea
*.swp
*.swo

# 操作系统文件
.DS_Store
Thumbs.db

# 测试文件
__tests__
coverage
*.test.js
*.spec.js

# 环境变量文件
.env*
.env.local
.env.development.local
.env.test.local
.env.production.local

# 其他不需要的文件
README.md
**/README.md
CHANGELOG.md
docker-compose*
Dockerfile
.dockerignore

# 日志文件
*.log
logs

# 临时文件
.tmp
.temp 