@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #BC9CFF;
  --text-color: #41537B;
  --background-color: #FEFCFD;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Segoe UI', 'Microsoft YaHei', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}